.banner {
  background: url("../../assets/Images/banner.jpg"),
    linear-gradient(to right, black, transparent);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 16px;
}
